This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [217]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'API_KEY'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [218]:
# First, import the relevant modules
import requests
import quandl
import pandas as pd

quandl.ApiConfig.api_key = API_KEY

In [219]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

data = quandl.get("FSE/AFX_X", start_date="2020-02-28", end_date="2020-02-28")

In [220]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
print(data)

             Open   High    Low  Close Change  Traded Volume     Turnover  \
Date
2020-02-28  90.05  94.75  89.65  94.75   None       468539.0  43691138.55

           Last Price of the Day Daily Traded Units Daily Turnover
Date
2020-02-28                  None               None           None

In [221]:
#url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key=API_KEY'
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31&api_key=API_KEY'
r = requests.get(url)

In [222]:
res = r.json()

In [223]:
res['dataset'].keys()

dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

In [225]:
df = pd.DataFrame(res['dataset']['data'], columns = res['dataset']['column_names'])

In [226]:
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [227]:
df.describe(include='all')

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
count,255,252.000000,255.000000,255.000000,255.000000,1.00,255.000000,2.550000e+02,0.0,0.0,0.0
unique,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
top,2017-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,43.344206,43.702804,42.924373,43.364157,-0.44,89124.337255,3.853589e+06,NaN,NaN,NaN
std,NaN,4.348585,4.365667,4.267225,4.321755,NaN,60441.130541,2.517807e+06,NaN,NaN,NaN
min,NaN,34.000000,34.120000,33.620000,34.060000,-0.44,45.000000,1.980000e+03,NaN,NaN,NaN
25%,NaN,41.395000,41.580000,41.045000,41.400000,-0.44,56282.000000,2.388636e+06,NaN,NaN,NaN
50%,NaN,43.450000,43.550000,42.620000,43.280000,-0.44,76286.000000,3.292223e+06,NaN,NaN,NaN
75%,NaN,45.857500,46.195000,45.390000,45.850000,-0.44,104479.000000,4.591904e+06,NaN,NaN,NaN
max,NaN,53.110000,53.540000,52.480000,53.090000,-0.44,670349.000000,2.591054e+07,NaN,NaN,NaN

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

# 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [228]:
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31&api_key=API_KEY'
r = requests.get(url)

# 2. Convert the returned JSON object into a Python dictionary.

In [229]:
res = r.json()
type(res)

dict

# 3. Calculate what the highest and lowest opening prices were for the stock in this period.

In [230]:
open_max = 0

In [231]:
#I realized that there were probably missing value for the opening prices, so I inserted an extra 'if' statement
#to pass on any None values.

for x in range(len(res['dataset']['data'])):
    if res['dataset']['data'][x][1] is None:
        pass
    else:
        if res['dataset']['data'][x][1] >= open_max:
            open_max = res['dataset']['data'][x][1] 
        
print('Max is ' + str(open_max))

Max is 53.11

In [232]:
open_min = open_max

In [233]:
for x in range(len(res['dataset']['data'])):
    if res['dataset']['data'][x][1] is None:
        pass
    else:
        if res['dataset']['data'][x][1] <= open_min:
            open_min = res['dataset']['data'][x][1] 
        
print('Min is ' + str(open_min))

Min is 34.0

# 4. What was the largest change in any one day (based on High and Low price)?

In [234]:
largest_change = 0

In [235]:
for x in range(len(res['dataset']['data'])):
    if (res['dataset']['data'][x][2] - res['dataset']['data'][x][3]) >= largest_change:
            largest_change = (res['dataset']['data'][x][2] - res['dataset']['data'][x][3]) 
        
print('The largest change in any one day is ' + str(round(largest_change, 2)))

The largest change in any one day is 2.81

# 5. What was the largest change between any two days (based on Closing Price)?

In [236]:
largest_change2 = 0

In [237]:
#Since I will be using x+1 for the next day's closing price, I want to shorten my range by 1 to avoid error.

for x in range(len(res['dataset']['data'])-1):
    if (res['dataset']['data'][x+1][4] - res['dataset']['data'][x][4]) >= largest_change2:
            largest_change2 = res['dataset']['data'][x+1][4] - res['dataset']['data'][x][4] 
        
print('The largest change between any two days is ' + str(round(largest_change2, 2)))

The largest change between any two days is 2.56

# 6. What was the average daily trading volume during this year?

In [238]:
total_trading = 0

In [239]:
for x in range(len(res['dataset']['data'])):
    total_trading +=  res['dataset']['data'][x][6]

avg_trading = total_trading/len(res['dataset']['data'])
print('The average daily trading volume during this year is ' + str(round(avg_trading, 2)))

The average daily trading volume during this year is 89124.34

# 7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [240]:
volume = []

In [241]:
for x in range(len(res['dataset']['data'])):
    volume.append(res['dataset']['data'][x][6])

In [242]:
def median(item):
    n = len(item)
    sorted_item = sorted(item)
    index = (n -1)//2
    
    if (n%2):
        return sorted_item[index]
    else:
        return (sorted_item[index] + sorted_item[index+1])/2

In [243]:
median_volume = median(volume)

In [244]:
print('The the median trading volume during this year is ' + str(round(median_volume, 2)))

The the median trading volume during this year is 76286.0